@import "vendor_prefixes.less";

body {
  // resets body default margin
  margin: 0;
}

.off-canvas-container {
  width: 100%;
  overflow: hidden;
  padding: 0.5em;
}

/* Off Canvas Navigation */
.off-canvas-navigation {
  display: block;
  > ul {
    /* override <ul> defaults */
    list-style-type: none;
    padding-left: 0;
  }
}
.off-canvas-navigation>ul>li {
  width: 20%;
  float: left;
}
.off-canvas-navigation>ul>li.spell-item {
  float: right;
}
.menu-button,
.spell-button {
  padding: 0.5em;
  display: block;
  background: rgba(0,0,0,.3);
  color: #333;
  border-top-right-radius: 1em;
  box-shadow: inset 0 20px 20px rgba(255,255,255,.1);
}
.spell-button {
  text-align: right;
  border-top-left-radius: 1em;
  border-top-right-radius: 0;
  background: rgba(0,0,0,.15);
}
.menu-button:hover,
.spell-button:hover {
  text-decoration: none;
  background: rgba(0,0,0,.35);
  color: #ddd;
}

/* baseline layout (mostly used in single column) */
[role="filter-menu"],
[role="spell-list"],
[role="spell-img"] {
  .transition(all, 0.5s, ease);
  //display: block;
  position: relative;
  padding: 0.5%;
}

/* single column layout */
// spell-img is float right by default so it wouldn't bump up in transition
// but its hard to make active-spell view align to right
// best I could do is set width of spell-img and align left
[role="filter-menu"] {
  width: 300px;
  margin-left: -150%;
  float: left;
  z-index: 2;
}
[role="spell-list"] {
  width: 99%;
  margin-left: 0;
  float: left;
  z-index: 1;
}
[role="spell-img"] {
  margin-right: -150%;
  float: right;
  z-index: 2;
}
.active-nav [role="filter-menu"] {
  margin-left: 0;
}
.active-nav [role="spell-list"] {
  margin-right: -150%;
}
.active-nav [role="spell-img"] {
  margin-right: -150%;
  float: right;
}
.active-spell [role="filter-menu"] {
  margin-left: -150%;
}
.active-spell [role="spell-list"] {
  // so spell list is show left to the spell
  // but this is unsatisfactory, cannot to right align here
  margin-left: -90%;
}
.active-spell [role="spell-img"] {
  margin-right: -300px;
  float: left;
  width: 300px;
}


/* two columns layout */
// filter-menu and spell-list always shown by default
// reset float and margin-right for spell-img to override the single column value
// min-width includes padding and margin
@media all and (min-width: 620px) {
  .page-title { text-align: left; margin-bottom: -1.1em; font-size: 60px; padding: 1% 0 0 30%;}
  [role="spell-list"] h1 {
    text-align: left;
  }

  .spell-item {
    float: right;
  }
  .menu-item {
    display: none;
  }
  [role="filter-menu"] {
    width: 300px;
    margin-left: 0;
  }
  [role="spell-list"] {
    max-width: 50%;
  }
  [role="spell-img"] {
    max-width: 10%;
    float: left;
  }
  .active-spell [role="filter-menu"] {
    margin-left: -150%;
  }
  .active-spell [role="spell-list"] {
    margin-left: 0;
  }
  .active-spell [role="spell-img"] {
    margin-right: -150%;
    width: 300px;
  }
}


/* three columns layout */
// all three panels are shown by default
// reset float and margin-right for spell-img to override the single column value
// min-width includes padding and margin
@media all and (min-width: 930px) {
  @column-padding: 0.5em;

  .page-title {text-align: center; font-size: 100px; margin-bottom: -.35em; padding: 0;}
  [role="spell-list"] h1 {
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .off-canvas-navigation {
    display: none;
  }

  [role="filter-menu"] {
    width: 33%;
    max-width: 300px;
    margin-left: 0;
    padding: 0 @column-padding;
  }

  [role="spell-list"] {
    width: 33%;
    padding: 0 @column-padding;
  }

  [role="spell-img"] {
    width: 33%;
    max-width: 300px;
    margin-right: 0;
    float: left;
    padding: 0 0;
  }
}